/* Botón de logout estático */
.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  background-color: #F3F4F6;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: rgb(44, 44, 44);
}

.text {
  display: none;
}

.Btn:active {
  transform: translate(2px, 2px);
}
