/* From Uiverse.io by Anita3761520000 */
.pyramid-loader {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) scale(0.85);
}

.pyramid-loader .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: pyramidSpin 4s linear infinite;
}

@keyframes pyramidSpin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: linear-gradient(to bottom right, #1afbf0, #da00ff);
}

.pyramid-loader .wrapper .shadow {
  width: 45px;
  height: 45px;
  background: #8b5ad5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-30px);
  filter: blur(10px);
}
